$background:#497285;
$text: #2B4450;
$decoration:#497285;
$page: #DFEBED;

body {
    width: 100%;
    min-height: 100%;
    background: $background;
    margin: 0;
    color: text;
    position: relative;
    font-family: 'Nunito', sans-serif;

    .container {
        width: 50%;
        font-size: 16px;
        line-height: 1.4em;
        margin: auto;
        margin-top: 20px;
        position: relative;
        padding-right: 7px;
        padding-left: 7px;
        height: 100%;
        background: $page;
        border-radius: 6px;
        margin-bottom: 200px;
        min-width: 480px;

        .heading {
            box-sizing: border-box;
            width: 100%;
            border-bottom: solid 2px $decoration;
            height: 100px;
            text-align: center;
            line-height: 100px;
            font-size: 70px;
            font-family: 'Pacifico', cursive;
            color: $decoration;
        }

        .main-body {
            width: 100%;
            box-sizing: border-box;
            margin-top: 30px;
            min-height: 300px;
            height: 100%;
            padding-top: 10px;
            padding: 10px;
            border-radius: 6px;
            position: relative;
            text-align: center;

            form {
                &:focus {
                    outline: none;
                }

                textarea {
                    box-sizing: border-box;
                    position: relative;
                    max-width: 100%;
                    width: 400px;
                    font-size: 16px;
                    line-height: 12px;
                    padding-top: 9px;
                    border: none;
                    border-bottom: 1px solid $decoration;
                    text-align: center;
                    resize: none;
                    background: $page;

                    &:focus {
                        outline: none;

                    }
                }

                .button-container {
                    margin-top: 16px;
                    text-align: center;

                    #add-button {
                        font-size: 16px;
                        line-height: 1.4em;
                        border: none;
                        border-radius: 3px;
                        color: $page;
                        background: $decoration;
                    }
                }
            }

            .no-todo-message {
                &.hide-message {
                    visibility: hidden;
                }
            }

            #todolist-container {
                margin-top: 64px;
                padding: 0;

                .task {
                    list-style: none;
                    font-size: 22px;
                    line-height: 1.8em;
                    max-width: 30em;
                    text-align: left;
                    border: solid 0.5px $decoration;
                    padding: 8px;
                    border-radius: 6px;
                    margin: 10px;
                    white-space: nowrap;
                    overflow-x: auto;

                    &.editable {

                        .task-text {
                            box-shadow: 0 0 8px $decoration;
                            padding: 5px 5px 5px 5px;
                            border: 1px solid $decoration;
                            border-radius: 4px;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }

                .task.completed {
                    opacity: 0.5;

                    label {
                        text-decoration: line-through;
                    }
                }

                .delete-button {
                    border: none;
                    font-size: 13px;
                    visibility: hidden;
                    background: $page;
                    color: rgb(119, 119, 119);

                    &:focus {
                        outline: none;
                    }
                }

                .edit-button {
                    border: none;
                    font-size: 13px;
                    visibility: hidden;
                    background: $page;
                    color: rgb(119, 119, 119);

                    &:focus {
                        outline: none;
                    }
                }

                .buttonVisible {
                    visibility: visible;

                }
            }
        }
    }

    footer {
        background: $page;
        color: $decoration;
        text-align: center;
        font-size: 20px;
        bottom: 0px;
        width: 100%;
        margin-top: 100px;
        font-family: 'Pacifico', cursive;
        min-width: 480px;

        img {
            margin-top: 5px;
            height: 50px;
            opacity: 0.8;
        }

    }
}